<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @office.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @office.lat %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @office.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @office.long %>
</p>

<p>
  <strong>Long:</strong>
  <%= @office.long %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @office.postcode %>
</p>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
